doctype html
head
  meta(charset='utf-8')
  title WebSockets - Simple chat
  link(rel='stylesheet' type='text/css' href='css/style.css')
#content
div
  span#status Connecting...
  input#input(type='text' disabled='disabled')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='js/chat-frontend.js')